{% extends 'books/base.html' %}

{% load book_tags %}

{% block content %}

<div class="row ${1| ,row-cols-2,row-cols-3, auto,justify-content-md-center,|} mx-2 my-2">
    {% book_search_panel request %}
</div>

<div class="row ${1| ,row-cols-2,row-cols-3, auto,justify-content-md-center,|} mx-2 my-2">
    {% author_search_panel request %}
</div>

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4 g-2">
    {% for object in object_list %}
    <div class="col">
        <div class="card h-100">
            <img src="{{object.avatar_url_or_default}}" class="card-img-top postsimg" alt="...">
            <div class="card-body">
                <h4 class="card-title">{{object.name}} {{object.patronymic}} {{object.surname }}</h2>
            </div>
            <div class="card-footer">
                <p class="card-text"><small class="text-muted">Дата рождения: {{object.date_born|date}}</small></p>
                <a href="{{object.get_absolute_url}}" class="btn btn-dark m-2 p-2 t-2 b-2 l-2 r-2 x-2 y-2 ">Подробнее</a>
            </div>
        </div>
    </div>
    {% empty %}
    <h5 class="card-title text-center postscardtitle">Писателей не найдено</h5>
    {% endfor %}
</div>

{% endblock %}