<div class="text-sm-left lh-base font-normal text-none text-decoration-none text-reset">
  Поиск книг
</div>
<form class="form-floating row justify-content-center" id="searcher" action="{% url 'book-list' %}?search_string="
  method="GET">
  <div class="row ${1| ,row-cols-2,row-cols-3, auto,justify-content-md-center,|}">
    <div class="col-5">
      <input type="text" id="search_string" name="search_string" class="form-control" placeholder="{{placeholder}}"
        value="{{search_string}}">
    </div>
    <div class="col-5">
      <select class="form-select" aria-label=".books_search" name="genre" id="genreSelect">
        <option {% if not selected_genre %} selected {% endif %} value="0">Любой жанр</option>
        {% for g in genres %}
        <option {% if selected_genre.pk == g.pk %} selected {% endif %} value="{{g.pk}}">{{g.title}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-auto align-middle">
      <button type="submit" class="btn btn-success align-middle">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
          viewBox="0 0 16 16">
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
        </svg>
      </button>
    </div>
  </div>
</form>